<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainWindowShowsFormatBar</key>
	<true/>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {190, 877}}</string>
		<string>{{191, 0}, {1152, 877}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>B6C55511-2734-4414-A8AA-1C056DA41DD5</string>
		<string>A16E8D75-0D44-4F8B-BE37-0DC45C3BE6DB</string>
		<string>E1163B1C-CF5E-4C4E-A2B6-B8B13DF883C8</string>
		<string>94141BD9-EB10-4A9B-8718-6B4997D40BB8</string>
		<string>C9765349-22A8-441A-BC37-B25C347E3381</string>
		<string>CFF7EF50-F8A8-4472-BF10-83636335A49F</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>2A0A0D79-256A-4DC9-ABAD-32848213F6C8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2D62D97C-2CBF-46A4-8CDC-3ABFE07B5C66</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>39D2AA5F-4373-4F58-9562-3358F749DAEB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3CB43630-BE2A-4183-84EA-F778DB8732BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>48A5DCAC-11AA-434A-8DE1-F5C293BE283A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5075D4ED-BA3C-4CC2-8689-E26BA317CC2E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>558D0217-00E4-4212-ABBB-BB2CDC3D2994</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>56216B66-EF47-4A40-BD7D-84DA82D422E7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>62FE5B5B-966F-42D3-8EEF-90B64069337C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>66483712-2A86-4B6B-9DC2-F67407B00481</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7432931F-6F39-463F-A4B7-A9C9C511BF7C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7B892434-189A-4928-98A7-22F738076961</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>94141BD9-EB10-4A9B-8718-6B4997D40BB8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>98773CEC-5555-4ED3-B4EB-27F5F62D40A3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A16E8D75-0D44-4F8B-BE37-0DC45C3BE6DB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A1E921E1-4D11-4EFC-8D93-11550D4245F8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A3FED7FF-E567-49C0-9C49-D2CBCBB79366</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A49E39B9-E83A-4783-B29F-E1AFE841FB55</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A7BBFD18-5E16-4EB8-A76C-4CDBC352B2B0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C179F1A2-723D-4814-94F9-405DF9868E62</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C47D9B48-E0A7-427B-A6AB-9951DAAC6D4B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D3787E39-8556-4907-8040-34A5BE47A7BC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E1163B1C-CF5E-4C4E-A2B6-B8B13DF883C8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E9672D7F-515B-4C1D-AEFC-863EBF97127B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EFE4B5C5-F2EE-461E-A960-25F66B09BCF2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsHeight</key>
	<real>115</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>continuousSpellChecking</key>
	<false/>
	<key>currentAnnotationColor</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMBhARm
	ZmZmg4ZgZz6DtKzKPYNq9BE/AYY=
	</data>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1152, 480}}</string>
		<string>{{0, 481}, {1152, 366}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenInspectorMode</key>
	<integer>0</integer>
	<key>fullScreenInspectorVisible</key>
	<false/>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>grammarSpellChecking</key>
	<false/>
	<key>inspectorCustomPaneIsCollapsed</key>
	<true/>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorReferencesColumns</key>
	<dict>
		<key>order</key>
		<array>
			<string>ICON</string>
			<string>DESCRIPTION</string>
			<string>URL</string>
		</array>
		<key>widths</key>
		<dict>
			<key>DESCRIPTION</key>
			<real>87</real>
			<key>ICON</key>
			<real>16</real>
			<key>URL</key>
			<real>115.4423828125</real>
		</dict>
	</dict>
	<key>inspectorSelectedDataTab</key>
	<integer>0</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {336, 867}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>mainDocumentEditor.PDFScale</key>
	<real>2.3234038352966309</real>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>62FE5B5B-966F-42D3-8EEF-90B64069337C</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>label</string>
		<string>status</string>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 1613.2}, {620, 339.20000000000005}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainDocumentView</key>
	<string>mainDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>337 120 1343 905 0 0 1680 1025 </string>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>228</real>
		</dict>
	</dict>
	<key>showInvisibles</key>
	<false/>
	<key>smartDashes</key>
	<true/>
	<key>smartQuotes</key>
	<true/>
	<key>supportingDocumentEditor.PDFAutoScales</key>
	<false/>
	<key>supportingDocumentEditor.PDFScale</key>
	<real>1.5630182027816772</real>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array/>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>label</string>
		<string>status</string>
		<string>sectionType</string>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 424}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedItemUUIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
